$color: #617083;

.login
  h1
    color: #617083
    font-style: normal
    font-weight: 300
    font-size: 36px
    line-height: 150%
    margin-top: 15px
    margin-left: 15px
  
  form
    .form-group
      align-items: baseline

      label
        margin-left: 100px
        line-height: 21px
        font-weight: bold
        text-transform: uppercase
        color: $color


      input
        margin-left: 20px
      
    .login_fogot-link
        margin-left: 150px

    .login_text
        margin-left: 150px

    .btn
      color: #fff
      font-weight: bold
      margin-left: 50px

    a.login_linl-create
      color: #fff
      font-weight: bold
      margin-left: 170px

