$color: #617083;

.login
  color: $color

  h1
    font-style: normal
    font-weight: 300
    font-size: 36px
    line-height: 150%
    margin-top: 15px
    margin-left: 15px
  
  form
    .form-group
      align-items: baseline

      label
        line-height: 21px
        font-weight: bold
        text-transform: uppercase
        text-align: right
      
      input
        margin-left: 10px

    a.login__btn-create
      color: #fff
      font-weight: bold
      width: 250px

