//----------------------------------
// Default navbar
//----------------------------------

$nav-text-color: #224356

*
  transition: all 400ms

nav.navbar
  justify-content: left

  .nav__logo
    margin-bottom: 0.8333333333333334rem
    margin-left: 1.9444444444444444rem
    margin-top: 0.8333333333333334rem

  a.navbar-brand
    color: $nav-text-color
    font-size: 1.5555555555555556rem
    font-weight: bold
    line-height: 150%
    margin-left: 0.8333333333333334rem
