$nav_active_link_color: #2AA7FF
$nav_link_color: #617083
$nav_background_color: #EBECEF

.sidebar
  // width: 300px
  // min-height: 90vh
  background-color: $nav_background_color
  padding-top: 100px
  // height: 100%
  ul
    height: 100%
    li
      justify-content: flex-start
      // width: 250px
      margin: 10px 0
      margin-left: 25px

      a.nav-link
        color: $nav_link_color
        font-weight: normal
        line-height: 21px
        padding-left: 30px


    li.active

      a.nav-link
        color: $nav_active_link_color
        font-weight: bold

      
