$nav_active_link_color: #2AA7FF
$nav_link_color: #617083
$nav_background_color: #EBECEF

.sidebar
  width: 355px
  background-color: $nav_background_color
  padding-top: 100px

  li
    display: flex
    justify-content: space-between
    width: 250px
    margin: 10px 0

    a.nav-link
      color: $nav_link_color
      font-weight: normal
      line-height: 21px
      padding-left: 30px


  li.active
    border-left: 2px solid $nav_active_link_color

    a.nav-link
      color: $nav_active_link_color
      font-weight: bold

    
