doctype html
html(lang='en')
	block vars
	head
		title #{title}
		block head
			include head
	body(class= bodyClass)
		block noscript
			include noscript

		block mixins
			include mixins

		block navigation
			include navigation

		.container-fluid.p-0
			.row.mr-0
				.col-12.col-md-4.col-lg-3.pr-0
					block sidebar
						include sidebar
				.col-12.col-md-8.col-lg-9.m-0.pr-0
					block content

		block footer
			include footer

		block modals
			include modals

	block scripts
		include scripts
