doctype html
html(lang='en')
	block vars
	head
		title #{title}
		block head
			include head
	body(class= bodyClass)
		block noscript
			include noscript

		block mixins
			include mixins

		block navigation
			include navigation

		div.d-flex
			div
				block sidebar
					include sidebar
			div.container-fluid
				block content

		block footer
			include footer

		block modals
			include modals

	block scripts
		include scripts
