div.pos-f-t
	nav.navbar.navbar-expand-lg.navbar-light.justify-content-between
		div
			img.nav__logo(src="img/logo.svg")
			a.navbar-brand.mb-0.h1(href='/') Trailer
		div(class=(navigation === "account_information") ? "visible" : "invisible")
			a.btn.btn-light.m-1 Account
			a.btn.btn-light.m-1 Log Off
