- var navigation = "login"

ul.nav.flex-column.sidebar
  li.active
    a.nav-link(class=(navigation === "login") ? 'active' : "")(href="/login") Login
    img(src="img/right_arrow_active.svg")
  li
    a.nav-link(class=(navigation === "create_account") ? 'active' : "")(href="/create_account") Create Account
    img(src="img/right_arrow.svg")
  li
    a.nav-link(class=(navigation === "support") ? 'active' : "")(href="/support") Support
    img(src="img/right_arrow.svg")
