-	var publickSidebar = [
-		{ name: 'login', title: 'Login'},
-		{ name: 'create_account', title: 'Create Account'},
-		{ name: 'support', title: 'Support'}
-]

-	var privateSidebar = [
-		{ name: 'home', title: 'Home'},
-		{ name: 'trailers', title: 'Trailers Details'},
-		{ name: 'customer', title: 'Customer'}
-]

if isAdmin
	+createSidebarMenu(privateSidebar)
else
	+createSidebarMenu(publickSidebar)
