extends partials/layout

block vars
	- var title = "Create Account"
	- var sidebar_nav = "create_account"

block content
	.create.row
		.col
			h1.display-4.m-b-2 Welcome!

			h3 Account Email / Username and Password

			form(method='POST' action='/register')
				.form-row
					.col-md-2
					div.form-group.col-md-8.d-flex
						label.text-nowrap.col-md-4(for='email') Email Adress
						input#email.form-control.col-md-6(type='email', name='email')
				.form-row
					.col-md-2
					p.mt-2.mb-3.col-md-6.create_text Your email address is your username
				.form-row
					.col-md-2
					div.form-group.d-flex.col-md-8
						label.text-nowrap.col-md-4(for='pw') New Password
						input#pw.form-control.col-md-6(type='password', name='password')
				.form-row
					.col-md-2
					div.form-group.d-flex.col-md-8
						label.text-nowrap.col-md-4(for='pw-confirm') Confirm password
						input#pw-confirm.form-control.col-md-6(type='password', name='password-confirm')
				.form-row
				h3 Personal Information
				.form-row
					.col-md-2
					div.form-group.col-md-8.d-flex
						label.text-nowrap.col-md-4(for='f-name') First name
						input#f-name.form-control.col-md-6(type='f-name', name='f-name')
				.form-row
					.col-md-2
					div.form-group.d-flex.col-md-8
						label.text-nowrap.col-md-4(for='l-name') Last Name
						input#l-name.form-control.col-md-6(type='l-name', name='l-name')
				.form-row
					.col-md-2
					div.form-group.d-flex.col-md-8
						label.text-nowrap.col-md-4(for='organization') Organization
						input#organization.form-control.col-md-6(type='organization', name='organization')
				.form-row
					.col-md-2
					a.create_linl-create.btn.btn-primary.mt-5 Create Account

