extends partials/layout

block vars
	- var title = "Create Account"
	- var sidebar_nav = "create_account"
	- var optionsOrganization = ['Organization1', 'Organization2', 'Organization3']
	- var optionsLocation = ['Location1', 'Location2', 'Location3']

block content
	.container.content-container
		.offset-lg-3.col-lg-9
			h1.main-header Welcome!
			h3.sub-header Account Email / Username and Password

		form(method='POST' action='/register')
			+formGroup('input', 'email', 'email', 'Email Adress')
			.offset-md-3.offset-lg-5.account-info__row
				p.p-0.account-info__text Your email address is your username
			+formGroup('input', 'password', 'password', 'New Password')
			+formGroup('input', 'password', 'confirm-password', 'Confirm Password')

			h3.sub-header.account-info__headers.col-md-9 Personal Information
			+formGroup('input', 'text', 'f-name', 'First name')
			+formGroup('input', 'text', 'l-name', 'Last name')
			+formGroup('select', 'text', 'organization', 'Organization', optionsOrganization)
			+formGroup('select', 'location', 'location', 'Location', optionsLocation)
			.offset-md-3.offset-lg-5.col-md-6.col-lg-3.account-info__row
				button.btn.form-group-button Create Account
