extends partials/layout

block vars
	- var title = "Create Account"
	- var sidebar_nav = "create_account"
	- var optionsOrganization = ['Organization1', 'Organization2', 'Organization3']
	- var optionsLocation = ['Location1', 'Location2', 'Location3']

block content
	.create.row.m-0
		.col
			h1.main-header Welcome!
			h3.sub-header Account Email / Username and Password
			form(method='POST' action='/register')
				+formGroup('input', 'email', 'email', 'Email Adress')
				+formRowWithText()
					p.col-11.col-sm-5.col-md-5.col-lg-4.p-0 Your email address is your username
				+formGroup('input', 'password', 'password', 'New Password')
				+formGroup('input', 'password', 'confirm-password', 'Confirm Password')
				h3.sub-header Personal Information
				+formGroup('input', 'text', 'f-name', 'First name')
				+formGroup('input', 'text', 'l-name', 'Last name')
				+formGroup('select', 'text', 'organization', 'Organization', optionsOrganization)
				+formGroup('select', 'location', 'location', 'Location', optionsLocation)
				+formRowWithText()
					button.btn.main-btn.col-11.col-md-4.col-lg-4 Create Account
