extends partials/layout

block vars
	- var isAdmin = true
	- var title = "Trailer - Customer"
	- var sidebar_nav = "customer"

block content
	.container.content-container
		.offset-lg-3.col-lg-9
			h1.main-header Customer