extends partials/layout

block vars
	- var title = "Trailer"

block content
	.container
		h1 all pages
		ul
			li
				a(href="login.html") Login page
			li
				a(href="create_account.html") Create Account
			li
				a(href="support.html") Support
			li
				a(href="support_confirm.html") Support confirm
			li
				a(href="account_info.html") Account info
			li
				a(href="home.html") Home
