extends partials/layout

block vars
	- var title = "Trailer"
	- var sidebar_nav = "login"

block content
	.login.row.m-0
		.col
			h1.main-header Welcome!
			form(method='POST' action='/register')
				+formGroup('input', 'text', 'name', 'Username')

				+formGroup('input', 'password', 'password', 'Password')

				.form-block.d-flex.pleft.mt-2.mb-3 	
					a(href='support.html') Forgot your password?
				.form-block.d-flex.pleft
					button.btn.main-btn(type='submit') Log In
				.form-block.d-flex.pleft
					p.mt-3.mb-3.p-0 Or if you are new, please
				.form-block.d-flex.pleft
					button.btn.main-btn Createa New Account
