extends partials/layout

block vars
	- var title = "Trailer"
	- var sidebar_nav = "login"

block content
	.login.row.mr-0
		.col
			h1.main-header Welcome!
			form(method='POST' action='/register')
				+formGroup('input', 'text', 'name', 'Username')
				+formGroup('input', 'password', 'password', 'Password')
				+formRowWithText()
					a.col-11.col-sm-5.col-md-5.col-lg-4.p-0(href='/support.html') Forgot your password?
				+formRowWithText()
					button.btn.main-btn.col-11.col-sm-5.col-md-5.col-lg-4(type='submit') Log In
				+formRowWithText()
					p.login_text.col-11.col-sm-5.col-md-5.col-lg-4.mt-2.p-0 Or if you are new, please
				+formRowWithText()
					button.btn.main-btn.col-11.col-sm-5.col-md-5.col-lg-4 Create a New Account
