extends partials/layout

block vars
	- var title = "Trailer"
	- var sidebar_nav = "login"

block content
	.account-info__headers.offset-md-3
		h1.main-header Welcome!
	form(method='POST' action='/register')
		+formGroup('input', 'text', 'name', 'Username')

		+formGroup('input', 'password', 'password', 'Password')

		.offset-md-3.offset-lg-5.account-info__row
			a.account-info__text(href='support.html') Forgot your password?
		.offset-md-3.offset-lg-5.col-md-4.col-lg-2.account-info__row
			button.btn.form-group-button(type='submit') Log In
		.offset-md-3.offset-lg-5.account-info__row
			p.account-info__text.p-0.account-info__text Or if you are new, please
		.offset-md-3.offset-lg-5.col-md-6.col-lg-3.account-info__row
			button.btn.form-group-button Createa New Account
