extends partials/layout

block vars
	- var title = "Trailer"
	- var sidebar_nav = "login"

block content
	.login.row
		.col
			h1.main-header Welcome!
			form(method='POST' action='/register')
				+formGroup('input', 'text', 'name', 'Username')
				+formGroup('input', 'password', 'password', 'Password')
				+formRow()
					.col-md-4
					a.login_fogot-link.col-md-6(href='/') Forgot your password?
				+formRow()
					.col-md-4
					button.btn.btn-primary.col-md-4(type='submit') Log In
				+formRow()
					.col-md-4
					p.login_text.col-md-6 Or if you are new, please
				+formRow()
					.col-md-4
					button.btn.btn-primary.col-md-5 Create a New Account

