extends partials/layout

block vars
	- var title = "Support"
	- var sidebar_nav = "support"

block content
	.support.row.m-1
		.col
			h1.main-header Account Support
			form(method='GET' action='support_confirm.html')
				+formGroup('input', 'email', 'email', 'Email Adress')
				.form-block.d-flex.pleft
					p.support-text.p-0 Type in the email address you used when you created your account to receive assistance in recovering your password
				.form-block.d-flex.pleft
					button.btn.main-btn Submit
