extends partials/layout

block vars
	- var title = "Support"
	- var sidebar_nav = "support_confirm"

block content
	.container.content-container
		.offset-lg-3.col-lg-9
			h1.main-header Reset password email sent
			p.text-success.ml-3 Reset password email has been sent.
			p.ml-3 Please check your email and follow the instructions to reset your password. If you do not receive it please wait a few minutes and check again.
