extends partials/layout

block vars
	- var title = "Support"
	- var sidebar_nav = "support"

block content
	.support.row
		.col
			h1.main-header Account Support
			form(method='POST' action='/register')
				+formGroupInput('email', 'email', 'Email Adress')
				.form-row
					.col-md-1
					div.form-group.col-md-10.d-flex
						.col-md-3
						p.col-md-5.support__text Type in the email address you used when you created your account to receive assistance in recovering your password
				.form-row
					.col-md-1
					div.form-group.col-md-10.d-flex
						.col-md-3
						button.btn.btn-primary.col-md-4.account-info-btn Submit
