extends partials/layout

block vars
	- var title = "Support"
	- var sidebar_nav = "support"

block content
	.support.row.mr-0
		.col
			h1.main-header Account Support
			form(method='GET' action='/support_confirm.html')
				+formGroup('input', 'email', 'email', 'Email Adress')
				+formRowWithText()
					p.col-11.col-sm-5.col-md-5.col-lg-4.p-0 Type in the email address you used when you created your account to receive assistance in recovering your password
				+formRowWithText()
					button.btn.main-btn.col-11.col-sm-5.col-md-5.col-lg-4 Submit
