extends partials/layout

block vars
	- var title = "Support"
	- var sidebar_nav = "support"

block content
	.support.row
		.col
			h1.main-header Account Support
			form(method='POST' action='/register')
				+formGroup('input', 'email', 'email', 'Email Adress')
				+formRow()
					.col-md-3
					p.col-md-8 Type in the email address you used when you created your account to receive assistance in recovering your password
				+formRow()
					.col-md-4
					button.btn.btn-primary.col-md-4 Submit
