extends partials/layout

block vars
	- var isAdmin = true
	- var title = "Trailer - Trailers Details"
	- var sidebar_nav = "trailers"
	- var optionsBussines = ['Bussines1', 'Bussines2', 'Bussines3']
	- var optionsLocation = ['Location1', 'Location2', 'Location3']
	- var optionsTrailerNumber = ['TrailerNumber-1', 'TrailerNumber-2', 'TrailerNumber-3']
	- var optionsTrailerUnit = ['Unit-1', 'Unit-2', 'Unit-3']

block content
	.container.content-container
		//- Tab links
		.tab.offset-lg-3.col-lg-9
			button#Home.tab__links Home
			button#Detail.tab__links Detail
			button#Documents.tab__links Documents
			button#Location.tab__links Location

		//- .offset-lg-3
		//- Tab content Home
		div#Home-container.tab__content.offset-lg-3
			h1.main-header Search For a Trailer

			+formGroupSearch('input', 'text', 'trailer-number', 'Enter trailer number', 'styled-input')
				.col-lg-5.col-xl-2
					button.btn.form-group-button Find
			p or
			+formGroupSearch('input', 'text', 'trailer-vin-number', 'Enter trailer vin number', 'styled-input')
				.col-lg-5.col-xl-2
					button.btn.form-group-button Find
			p or
			+formGroupSearch('input', 'text', 'trailer-tracking-number', 'Enter trailer tracking number', 'styled-input')
				.col-lg-5.col-xl-2
					button.btn.form-group-button Find


				h1.main-header Search For a Trailer by Locations & Business
				.d-flex.w-100
					+FormSelectOption('bussines',optionsBussines, 'm-1r')
					+FormSelectOption('location',optionsLocation, 'm-1r')
					button.btn.form-group-button.m-1r Find

		//- Tab content Detail
		div#Detail-container.tab__content.offset-lg-3
			h1.main-header Trailer Record - xxxxxxx
			.d-flex
				.detail__col
					h3.detail__header Equipment Details
					+trailersDetailRow('Trailer Number', 'Some text')
					+trailersDetailRow('Make', 'Some text')
					+trailersDetailRow('Year', 'Some text')
					+trailersDetailRow('Size', 'Some text')
					+trailersDetailRow('Location', 'Some text')
					+trailersDetailRow('Condition Status', 'Some text')
					+trailersDetailRow('Own', 'Some text')
					+trailersDetailRow('Business', 'Some text')

				.detail__col.detail__col-grey
					h3.detail__header Registration Details
					+trailersDetailRow('Vehicle Identification Number (Vin)', 'Some text')
					+trailersDetailRow('Platee Number', 'Some text')
					+trailersDetailRow('State Number', 'Some text')
					+trailersDetailRow('Title Number', 'Some text')
					+trailersDetailRow('Last Registration Date', 'Some text')
					+trailersDetailRow('Registration Expiration Date', 'Some text')
					+trailersDetailRow('Date Acquired', 'Some text')

				.detail__col
					h3.detail__header Tracking Details
					+trailersDetailRow('E Tracking System', 'Some text')
					+trailersDetailRow('Tracking Number', 'Some text')

		//- Tab content Documents
		div#Documents-container.tab__content.offset-lg-3
			h1.main-header Trailer Record - xxxxxxx
			.documents__col
				h3.documents__header.col Equipment Details
				+trailersDocumentsRow('Trailer Number', 'Some text')
				+trailersDocumentsRow('Vin #', 'Some text')
				+trailersDocumentsRow('License #', 'Some text')
				+trailersDocumentsRowWithButton(true, 'Inspection Document', 'View', 'Download', '#')
				+trailersDocumentsRowWithButton(true, 'FHWA', 'View', 'Download', '#')
				+trailersDocumentsRowWithButton(false, 'Registration', 'View', '', '#')
				+trailersDocumentsRowWithButton(false, 'Tracking Installation Sheet', 'View', '', '#')

				h3.documents__header.col Equipment Invoices
				p.documents__text Click the Invoice number to View the Invoice
				table.table.table-striped.documents__table
					thead
						tr
							th(scope="col") Download Invoice
							th(scope="col") Invoice
							th(scope="col") Invoice Date
							th(scope="col") Vendor
							th(scope="col") Total Invoice
					tbody
						+trailersDocumentsTableRow(false, 'F11356', '7/25/2019', 'E&J Truck Service', '$1450')
						+trailersDocumentsTableRow(true, 'F11356', '7/25/2019', 'E&J Truck Service', '$1450')
						+trailersDocumentsTableRow(false, 'F11356', '7/25/2019', 'E&J Truck Service', '$1450')
						+trailersDocumentsTableRow(false, 'F11356', '7/25/2019', 'E&J Truck Service', '$1450')

		//- Tab content Location
		div#Location-container.tab__content.offset-lg-3
			h1.main-header Edit Trailer Record - xxxxxxx
			.location__col
				h3.location__header.col Search for a Single Asset:

				+trailersLocationFormRow(true, 'Trailer Number', 'trailer-number', optionsTrailerNumber, 'Trailer number contains','trailer-number')
				+trailersLocationFormRow(true, 'Tracking unit ID №', 'trailer-unit', optionsTrailerUnit, 'Tracking unit id № contains','trailer-unit')
				+trailersLocationFormRow(false, 'Location Name', 'trailer-location', optionsLocation)
				+trailersLocationFormRow(true, 'Trailer number', 'trailer-number', optionsTrailerNumber, 'Trailer Number contains','trailer-number')

				h3.location__header.col Select Query Type:
				.location__check
					input.location__check-input(type="radio" name="showLatestPosition" id="showLatestPosition" value="option1" checked=false)
					label.location__check-label(for="showLatestPosition") Show latest position
				.location__btn-group.d-flex
					button#Map.btn.main-btn.location__btn.tab__links Display Map
					button#Table.btn.main-btn.location__btn.tab__links Display Table

		//- Tab content Location Map
		div#Map-container.tab__content.offset-lg-3
			h1.main-header Edit Trailer Record - xxxxxxx
			.location__col
				div.map-responsive
					iframe(src="https://www.google.com/maps/embed/v1/view?zoom=10&center=50.4501,30.5234", width='100%' frameborder="1", allowfullscreen)
				button.btn.main-btn.location__btn Download CSV

				table.table.table-striped.location__table
					thead
						tr
							th(scope="col") Select Trailer
							th(scope="col") Map ID
							th(scope="col") Trailer №
							th(scope="col") Tracking Unit №
							th(scope="col") Latitude
							th(scope="col") Longitude
							th(scope="col") Closest Landmark
							th(scope="col") State
							th(scope="col") Country
							th(scope="col") Distance From Landmark
							th(scope="col") Battery Status
					tbody
						+trailersLocationTableRow(false, [1, '1234M', 5465, 35.27555, -80.88088, 'Masuer Charlotte', 'NC', 'US', '0.13 mi', 'Excellent'])

		//- Tab content Location Table
		div#Table-container.tab__content.offset-lg-3
			h1.main-header Edit Trailer Record - xxxxxxx
			.location__col
				h3.location__header.col Table

